body {
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

strong {
    color: goldenrod;
}

header, main, nav, footer {
    text-align: center;
    
}

nav a {
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;

    
}

a:visited {
    color: #cf9fff;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

nav a:active {
    color: skyblue;
}

main {
    display: flex;
    margin: 10px;
    margin-right: 200px;
	padding: 20px 0;
    justify-content: space-between;
    text-align: left;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 20px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: goldenrod;
}

#contact-content {
    text-align: center;
    padding-left: 200px;
}
.container {
    margin: 50px;
	padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align:left;
    flex-flow: row wrap;

}

h1 {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}


